<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <h1>Modelo para predecir si el agua es potable o no, segun los parametros obtenidos.</h1> 
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>